@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,700,800,900&display=swap');
/* common css start */
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

ul,
ol{
    list-style: none;
}

a,
a:hover{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

p{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

img{
    vertical-align: middle;
}

body{
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
/* common css end */
/*warper css start */
header{
    height: 100vh;
    width: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background: #292929;
    z-index: 10000;
    .content{
        .menu{
            position: relative;
            width: 100%;
            .menu-btn{
                z-index: 200;
                position: relative;
                display: flex;
                justify-content: flex-start;
                width: 50px;
                height: 40px;
                cursor: pointer;
                transition: all .5s ease-in-out;
                .menu-btn_burger{
                    width: 30px;
                    height: 2px;
                    background: #ffffff;
                    border-radius: 5px;
                    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
                    transition: all .5s ease-in-out;
                }
                .menu-btn_burger::before,
                .menu-btn_burger::after{
                    content: '';
                    position: absolute;
                    height: 2px;
                    background: #ffffff;
                    border-radius: 5px;
                    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
                    transition: all .5s ease-in-out;
                }
                .menu-btn_burger::before{
                    width: 40px;
                    transform: translateY(-10px);
                }
                .menu-btn_burger::after{
                    width: 20px;
                    transform: translateY(10px);
                }
            }
            .menu-btn::after{
                content: "MENU";
                position: absolute;
                bottom: 0;
                left: 0;
                color: #ffffff;
            }
            .menu-btn:hover{
                .menu-btn_burger{
                    width: 40px;
                    background: rgba(255, 101, 47, .7);
                }
                .menu-btn_burger::before{
                    background: rgba(255, 101, 47, .7);
                }
                .menu-btn_burger::after{
                    width: 40px;
                    background: rgba(255, 101, 47, .7);
                }
            }
            /*for animation */ 
            .menu-btn.open{
                .menu-btn_burger{
                    width: 40px;
                    transform: translateX(-50px);
                    background: transparent;
                    box-shadow: none;
                }
                .menu-btn_burger::before{
                    transform: rotate(45deg) translate(35px, -35px);
                    width: 40px;
                }
                .menu-btn_burger::after{
                    transform: rotate(-45deg) translate(35px, 35px);
                    width: 40px;
                }
            }
        }
    }
}
.menu_box{
    position: absolute;
    left: -300%;
    top: 50%;
    transform: translateY(-50%);
    height: 500px;
    width: 660px;
    z-index: 100;
    background: rgba(0, 0, 0, 1);
    transition: all 1.2s ease-in-out;
}
.menu_box.menu_slide{
    left: 90px;
}
.menu_box_bc{
    position: absolute;
    z-index: 90;
    left: -100%;
    top: 50%;
    transform: translateY(-50%);
    height: 500px;
    width: 660px;
    z-index: 100;
    background: rgba(255, 0, 0, 1);
    transition: all 1.2s ease-in-out;
}
.menu_box_bc.menu_bc_slide{
    left: 90px;
}


.warper{
    z-index: 50;
    height: 100vh;
    box-sizing: border-box;
    // border: 14px solid #292929;
    background: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    .bdr_shape{
        height: 55px;
        width:  55px;
        background: transparent;
        border-radius: 2.8px;
        position: absolute;
        display: block;
        z-index: 100;
    }
    .shape_1{
        top: 7%;
        left: 10%;
        border-top: 1px solid rgba(118, 131, 125, .7);
        border-left: 1px solid rgba(118, 131, 125, .7);
    }
    .shape_2{
        top: 7%;
        right: 5%;
        border-top: 1px solid rgba(118, 131, 125, .7);
        border-right: 1px solid rgba(118, 131, 125, .7);
    }
    .shape_3{
        bottom: 6%;
        left: 10%;
        border-bottom: 1px solid rgba(118, 131, 125, .7);
        border-left: 1px solid rgba(118, 131, 125, .7);
    }
    .shape_4{
        bottom: 6%;
        right: 5%;
        border-right: 1px solid rgba(118, 131, 125, .7);
        border-bottom: 1px solid rgba(118, 131, 125, .7);
    }
    .overlay{
        height: 100%;
        background: rgba(0, 0, 0, .4);
        .content{
            display: grid;
            width: 100%;
            grid-template-columns: 50% 50%;
            .left{
                position: relative;
                height: 100%;
            }
            .left::after{
                content: '';
                position: absolute;
                height: 350px;
                width: 2.5px;
                background: rgba(255, 255, 255, .6);
                right: 0;
                top: 50vh;
                transform: translate(0, -50%);
                border-radius: 20px;
                // transform: translate(-50%, 0);
            }
        }
    } 
    
}
/*warper css end */
