$coomon_color : #C87C1A;
$icon_color : rgba(255, 255, 255, 0.41);
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
/* common css start */
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Audiowide', cursive;;
}

ul,
ol{
    list-style: none;
}

a,
a:hover{
    font-family: 'Audiowide', cursive;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0;
    margin: 0;
    font-family: 'Audiowide', cursive;
}

p{
    padding: 0;
    margin: 0;
    font-family: 'Audiowide', cursive;
}

img{
    vertical-align: middle;
}

body{
    overflow-x: hidden;
    font-family: 'Audiowide', cursive;
}
/* common css end */
/*warper css start */
header{
    height: 100vh;
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: #292929;
    z-index: 10000;
    .content{
        position: relative;
        height: 100%;
        .logo{
            position: absolute;
            left: 50%;
            top: 40px;
            transform: translate(-50%,0);
            height: 60px;
            width: 60px;
            opacity: .8;
            box-sizing: border-box;
            padding: 3px 5px;
            border-top: 1px solid rgba(255, 255, 255, 0.6);
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        }
        .main_box{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: rgba(255, 255, 255, 0.05);
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 55vh;
            box-sizing: border-box;
            border-top: 3px solid $coomon_color;
            border-bottom: 3px solid $coomon_color;
            .menu_social_icon_box{
                .social_icon{
                    ul{
                        li{
                            a{
                                display: inline-block;
                                height: 38px;
                                width: 38px;
                                font-size: 17px;
                                text-align: center;
                                line-height: 37px;
                                color: $icon_color;
                                border: 1px solid rgba(255, 255, 255, 0.08);
                                transition: all linear .5s;
                                margin-top: 8px;
                                border-radius: 5px;
                            }
                            a:hover{
                                color: $coomon_color;
                            }
                        }
                    }
                }
                .social_icon.s_upper{
                    padding-bottom: 30px;
                }
                .social_icon.s_lower{
                    padding-top: 23px;
                }
                .menu{
                    position: relative;
                    width: 100%;
                    .menu-btn{
                        z-index: 200;
                        position: relative;
                        width: 50px;
                        height: 40px;
                        cursor: pointer;
                        transition: all .5s ease-in-out;
                        .menu-btn_burger{
                            width: 27px;
                            height: 2px;
                            background: $icon_color;
                            border-radius: 5px;
                            box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
                            transition: all .5s ease-in-out;
                        }
                        .menu-btn_burger::before,
                        .menu-btn_burger::after{
                            content: '';
                            position: absolute;
                            height: 2px;
                            background: $icon_color;
                            border-radius: 5px;
                            box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
                            transition: all .5s ease-in-out;
                        }
                        .menu-btn_burger::before{
                            width: 35px;
                            transform: translateY(-10px);
                        }
                        .menu-btn_burger::after{
                            width: 22px;
                            transform: translateY(10px);
                        }
                    }
                    .menu-btn::after{
                        content: "MENU";
                        position: absolute;
                        font-size: 10px;
                        bottom: 0;
                        left: 0;
                        color: $icon_color;
                        transition: all .5s ease-in-out;
                    }
                    .menu-btn:hover{
                        .menu-btn_burger{
                            width: 35px;
                            background: $coomon_color;
                        }
                        .menu-btn_burger::before{
                            background: $coomon_color;
                        }
                        .menu-btn_burger::after{
                            width: 35px;
                            background: $coomon_color;
                        }
                        
                    }
                    .menu-btn:hover::after{
                        color: $coomon_color;
                    }
                    /*for animation */ 
                    .menu-btn.open{
                        .menu-btn_burger{
                            width: 35px;
                            transform: translateX(-50px);
                            background: transparent;
                            box-shadow: none;
                        }
                        .menu-btn_burger::before{
                            transform: rotate(45deg) translate(35px, -35px);
                            width: 35px;
                        }
                        .menu-btn_burger::after{
                            transform: rotate(-45deg) translate(35px, 35px);
                            width: 35px;
                        }
                    }
                }
            }
        }
    }
}
.menu_box{
    position: absolute;
    left: -450%;
    top: 50%;
    transform: translateY(-50%);
    height: 500px;
    width: 660px;
    z-index: 100;
    background: rgba(0, 0, 0, 1);
    transition: all 1.2s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    .content{
        height: 100%;
        width: 100%;
        padding-left: 70px;
        position: relative;
        .shape_1{
            height: 50px;
            width:  50px;
            background: transparent;
            border-radius: 2.8px;
            position: absolute;
            display: block;
            z-index: 100;
            top: 5%;
            right: 5%;
            border-top: 1px solid rgba(118, 131, 125, .7);
            border-right: 1px solid rgba(118, 131, 125, .7);
        }
        .shape_2{
            height: 50px;
            width:  50px;
            background: transparent;
            border-radius: 2.8px;
            position: absolute;
            display: block;
            z-index: 100;
            bottom: 5%;
            right: 5%;
            border-bottom: 1px solid rgba(118, 131, 125, .7);
            border-right: 1px solid rgba(118, 131, 125, .7);
        }
        .logo{
            padding: 50px 0 0;
        }
        ul{
            margin-top: 40px;
            li{
                a{
                    display: inline-block;
                    color: $icon_color;
                    height: 40px;
                    width: 340px;
                    padding-left: 30px;
                    line-height: 40px;
                    box-sizing: border-box;
                    transition: all .4s ease-in-out;
                }
                a:hover{
                    color: $coomon_color;
                    border-left: 2px solid $coomon_color;
                    border-right: 2px solid $coomon_color;
                    padding-left: 40px;
                }
                a.active{
                    border-left: 2px solid $coomon_color;
                    border-right: 2px solid $coomon_color;
                    background: rgba(255, 255, 255, .1);
                }
            }
            li.last{
                margin: 20px 0 50px;
            }
        }
        p{
            width: 90%;
            margin: auto;
            font-size: 20px;
            color: rgba(255, 255, 255, .8);
            span.text{
                color: $coomon_color;
            }
            span.left{
                height: 1px;
                width: 165px;
                background: rgba(255, 255, 255, .6);
                display: inline-block;
                vertical-align: top;
                margin-right: -55px;
                position: relative;
            }
            span.left::after{
                content: '';
                position: absolute;
                right: 0;
                top: -5px;
                height: 10px;
                width: 10px;
                background: rgba(255, 255, 255, 1);
                border-radius: 50%;
            }
            span.right{
                height: 1px;
                width: 165px;
                background: rgba(255, 255, 255, .6);
                display: inline-block;
                vertical-align: bottom;
                margin-left: -48px;
                position: relative;
            }
            span.right::after{
                content: '';
                position: absolute;
                left: 0;
                top: -5px;
                height: 10px;
                width: 10px;
                background: rgba(255, 255, 255, 1);
                border-radius: 50%;
            }
        }
    }
    .content::after{
        content:'';
        background: $coomon_color;
        position: absolute;
        height: 230px;
        width: 10px;
        top: 50%;
        right: -5px;
        transform: translate(0, -50%);
    }
}
.menu_box.menu_slide{
    left: 80px;
}
.menu_box_bc{
    position: absolute;
    z-index: 90;
    left: -150%;
    top: 50%;
    transform: translateY(-50%);
    height: 500px;
    width: 660px;
    z-index: 100;
    background: $coomon_color;
    transition: all 1.2s ease-in-out;
}
.menu_box_bc.menu_bc_slide{
    left: 80px;
}
/* all demo css */
.main{
    
    width: 100%;
    background: linear-gradient(to bottom right, #c87c1a 0%, #ffffff 100%);
    border: 7px solid #292929;
    .overlay{
        background: rgba(0, 0, 0, .3);
        width: 100%;
        .content{
            .heading{

            }
            .all_demo{
                margin: auto;
                display: grid;
                width: 100%;
                margin-left: 40px;
                grid-template-columns: 49% 49%;
                .item{
                    height: 276px;
                    border: 1px solid #fff;
                    margin: 15px;
                }
            }
        }
    }
}

/* default demo css */
.warper{
    transition: all .5s ease-in-out;
    z-index: 50;
    height: 100vh;
    box-sizing: border-box;
    // border: 14px solid #292929;
    background: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    .bdr_shape{
        height: 55px;
        width:  55px;
        background: transparent;
        border-radius: 2.8px;
        position: absolute;
        display: block;
        z-index: 100;
    }
    .shape_1{
        top: 7%;
        left: 10%;
        border-top: 1px solid rgba(118, 131, 125, .7);
        border-left: 1px solid rgba(118, 131, 125, .7);
    }
    .shape_2{
        top: 7%;
        right: 5%;
        border-top: 1px solid rgba(118, 131, 125, .7);
        border-right: 1px solid rgba(118, 131, 125, .7);
    }
    .shape_3{
        bottom: 6%;
        left: 10%;
        border-bottom: 1px solid rgba(118, 131, 125, .7);
        border-left: 1px solid rgba(118, 131, 125, .7);
    }
    .shape_4{
        bottom: 6%;
        right: 5%;
        border-right: 1px solid rgba(118, 131, 125, .7);
        border-bottom: 1px solid rgba(118, 131, 125, .7);
    }
    .overlay{
        transition: all .5s ease-in-out;
        height: 100%;
        background: rgba(0, 0, 0, .6);
        .content{
            height: 100vh;
            display: grid;
            grid-template-columns: 55% 45%;
            .left{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                .countdown{
                    position: relative;
                    margin-right: 50px;
                    .corner_1{
                        z-index: 100;
                        position: absolute;
                        bottom: 20px;
                        left: -70px;
                        height: 90px;
                        width: 90px;
                        border-left: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                    }
                    .corner_2{
                        z-index: 100;
                        position: absolute;
                        bottom: 20px;
                        right: -90px;
                        height: 90px;
                        width: 90px;
                        border-right: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                    }
                    .upper{
                        div#day{
                            color: #e6e6e6;
                            font-size: 130px;
                            text-align: left;
                            line-height: .6;
                            position: relative;
                            &::after{
                                content: 'Days';
                                position: absolute;
                                top: 0;
                                right: -70px;
                                font-size: 30px;
                            }
                        }
                    }
                    .lower{
                        display: flex;
                        justify-content: center;
                        // position: relative;
                        div{
                            height: 60px;
                            width: 33px;
                            line-height: 60px;
                            font-size: 17px;
                            margin: 0 12px;
                            box-sizing: border-box;
                            display: grid;
                            grid-template-columns: 85% 15%;
                            color: #e6e6e6;
                            .text{
                                padding-left: 2px;
                                text-align: left;
                                opacity: .9;
                                filter: blur(.43px);
                            }
                            #hour,#minute,#second{
                                text-align: right;
                                transition: all linear .4s;
                            }
                        }
                    }
                }
                .text_{
                    position: absolute;
                    bottom: 28%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 600px;
                    // margin-right: 200px;
                    p{
                        font-size: 20px;
                        text-align: center;
                        color: #b0acac;
                        position: relative;
                        span.left_{
                            height: 1px;
                            width: 100px;
                            background: rgba(255, 255, 255, .6);
                            display: inline-block;
                            vertical-align: top;
                            margin-right: -55px;
                            position: relative;
                        }
                        span.right_{
                            height: 1px;
                            width: 100px;
                            background: rgba(255, 255, 255, .6);
                            display: inline-block;
                            vertical-align: bottom;
                            margin-left: -48px;
                            position: relative;
                        }
                        span.left_2{
                            height: 15px;
                            width: 15px;
                            display: inline-block;
                            background: $coomon_color;
                            vertical-align: middle;
                            position: relative;
                            &::before{
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: -104px;
                                height: 1px;
                                width: 100px;
                                background: $coomon_color;
                            }
                        }
                        span.right_2{
                            height: 15px;
                            width: 15px;
                            display: inline-block;
                            background: $coomon_color;
                            vertical-align: middle;
                            position: relative;
                            &::after{
                                content: '';
                                position: absolute;
                                top: 0;
                                right: -104px;
                                height: 1px;
                                width: 100px;
                                background: $coomon_color;
                            }
                        }
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    height: 350px;
                    width: 2px;
                    background: rgba(255, 255, 255, 1);
                    right: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                    border-radius: 20px;
                }
            }
            .right{
                height: 100vh;
                width: 100%;
                position: relative;
                .slider_{
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    width: 100%;
                }
            }
        } 
    
    }
}
.warper.filter_{
    transition: all .5s ease-in-out;
    filter: blur(1px);
    .overlay{
        transition: all .5s ease-in-out;
        background: rgba(0, 0, 0, .8);
    }
}
/*warper css end */
