@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,700,800,900&display=swap");
/* common css start */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

ul,
ol {
  list-style: none;
}

a,
a:hover {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

p {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

img {
  vertical-align: middle;
}

body {
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

/* common css end */
/*warper css start */
header {
  height: 100vh;
  width: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background: #292929;
  z-index: 10000;
}

header .content .menu-btn {
  margin-top: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border: 3px solid #ffffff;
}

header .content .menu-btn .menu-btn_burger {
  width: 50px;
  height: 6px;
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header .content .menu-btn .menu-btn_burger::before,
header .content .menu-btn .menu-btn_burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header .content .menu-btn .menu-btn_burger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

header .content .menu-btn .menu-btn_burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

.warper {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 14px solid #292929;
  background: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.warper .bdr_shape {
  height: 55px;
  width: 55px;
  background: transparent;
  border-radius: 2.8px;
  position: absolute;
  display: block;
  z-index: 100;
}

.warper .shape_1 {
  top: 7%;
  left: 10%;
  border-top: 4px solid rgba(118, 131, 125, 0.4);
  border-left: 4px solid rgba(118, 131, 125, 0.4);
}

.warper .shape_2 {
  top: 7%;
  right: 5%;
  border-top: 4px solid rgba(118, 131, 125, 0.4);
  border-right: 4px solid rgba(118, 131, 125, 0.4);
}

.warper .shape_3 {
  bottom: 6%;
  left: 10%;
  border-bottom: 4px solid rgba(118, 131, 125, 0.4);
  border-left: 4px solid rgba(118, 131, 125, 0.4);
}

.warper .shape_4 {
  bottom: 6%;
  right: 5%;
  border-right: 4px solid rgba(118, 131, 125, 0.4);
  border-bottom: 4px solid rgba(118, 131, 125, 0.4);
}

.warper .overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.warper .overlay .content {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.warper .overlay .content .left {
  position: relative;
  height: 100%;
}

.warper .overlay .content .left::after {
  content: '';
  position: absolute;
  height: 350px;
  width: 2.5px;
  background: rgba(255, 255, 255, 0.6);
  right: 0;
  top: 50vh;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 20px;
}

/*warper css end */
/*# sourceMappingURL=style.css.map */